<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">X</button>
  <h1>CREDITS</h1>
</div>

<div class="modal-body credits">
  <p>
    Copyright © 2018-2021 Parc naturel régional & Géoparc Normandie-Maine. Tous droits réservés.
  </p>
  <p>
    Biodiv' Normandie-Maine est basé sur l'outil opensource <a href="https://github.com/PnX-SI/GeoNature-atlas" target="_blank">GeoNature-atlas</a>, développé par le Parc national des ֤֤Écrins (Théo Lechemia, Gil Deluermoz et Camille Monchicourt).
    <br/>
    Il fait partie d'un ensemble d'outils développé par le parc national et ses partenaires, pour pouvoir saisir, gérer et traiter les données des différents protocoles faune et flore : <a href="http://geonature.fr" target="_blank">http://geonature.fr</a>.
  </p>
  <p>
    Code source : GPL-3.0 License
  </p>
  <h3>Développement :</h3>
  <p>
    Parc & Géoparc Normandie-Maine : pôle Médiation - Romain Louvet
  </p>
  <h3>Rédaction & relecture :</h3>
  <p>
    Parc & Géoparc Normandie-Maine :
	<ul><li>pôle Médiation - Léa Berthet, Morvan Debroize, Romain Louvet, Mélanie Massias</li><li>pôle Biodiversité et Géodiversité : Mathilde Collet, Laurent Garnier</li></ul>
  </p>
  <h3>Crédits photos :</h3>
  <p>
    Ils sont mentionnés directement sur les photographies pour la majorité.  
  </p>
  <p>
    Autres photos et illustrations :
  </p>
	<p><ul>
	<li>Parc & Géoparc Normandie-Maine - Mathilde Collet, Marianne Deligné, Rémi Jardin, Francis Massias, Sylvain Montagner, Roland Théaud</li>
	<li>Parc national des Écrins</li>
	</ul>
 	</p>
</div>
