<!-- Réalisée à partir de https://startbootstrap.com/template-overviews/one-page-wonder/ et http://getbootstrap.com/examples/carousel/ -->
<!DOCTYPE html>
<html>
   <head>
        <meta charset="utf-8" />
        <title>Partenaires | {{configuration.NOM_APPLICATION}} </title>

        <!-- Jquery -->
        <script type=text/javascript src="{{url_for('static', filename='lib/jquery-1.12.4.min.js') }}"></script>
		<script type=text/javascript src="{{url_for('static', filename='lib/jquery-ui.min.js') }}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='lib/jquery-ui.css') }}" />

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}"></link>
        <script type=text/javascript src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>

	<!-- custom font Parc -->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&family=Dosis:wght@500;700&family=Oswald:wght@300;400;700&display=swap" rel="stylesheet">

	<!-- CSS Atlas -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/atlas.css') }}" /> <!-- css général atlas -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/static_pages.css') }}" /> <!-- css général pages statiques -->
        <link rel="stylesheet" href="{{url_for('static', filename='custom/custom.css') }}" /> <!-- css overidde - modif des polices et barre du dessus -->

	<!-- favicon / si ne fonctionne pas, mettre fichiers à la racine /atlas-->
	<link rel="shortcut icon" href="{{ url_for('static', filename='custom/images/favicon/favicon.ico') }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='custom/images/favicon/apple-touch-icon.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='custom/images/favicon/favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='custom/images/favicon/favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static', filename='custom/images/favicon/site.webmanifest') }}">
	<link rel="mask-icon" href="{{ url_for('static', filename='custom/images/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
   </head>

   <body  data-spy="scroll" data-target="#sommaire">
    {% include 'templates/navbar.html' %}

		<div id="sideBar">
			{% include 'templates/sideBar.html' %}
		</div>
		<div class="container-fluid" id="page"> 

            <!-- Carousel -->
            <!-- ================================================== -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: -15px; margin-bottom: 0px;">
              <div class="carousel-inner" role="listbox">
                <div class="item active" style="background-image: url({{url_for('static', filename='custom/images/concours_prairies_fleuries.jpg') }}) ; background-size: cover; background-position: center center;">
                  <div class="container">
                    <div class="carousel-caption">
                      <h1>Partenaire de {{configuration.NOM_APPLICATION}}</h1>
                      <p>Découvrez tous les partenaires du portail de visualisation des données naturalistes du {{configuration.STRUCTURE}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.carousel -->

            <!-- Contenu page -->
            <!-- ================================================== -->
            <div class="container presentation" style="margin-bottom: 20px;">
              <div class="col-lg-8">
              </div>
              <div style="clear: both;"></div>

              <!-- <hr class="featurette-divider"> -->
                
              <!-- partenaires techniques -->
                <!-- Titre -->		
                <div class="col-lg-12" style="background:#fff; border-radius: 0px; margin-top:10px; padding: 10px; text-align:center;">
                  <div class="row">
                      <div class="col-xs-12">
                        <div title="Structures partageant la base de données administrée par le {{configuration.STRUCTURE}} et soutenant {{configuration.NOM_APPLICATION}}"><h3 class="title-spaced title-bar">Partenaires techniques<sup>&#9432;</sup></h3></div>                  
                      </div>
                  </div>
                </div>                
                <!-- Logos -->	
                <div class="col-lg-12" style="background:#fff; border-radius: 0px; padding: 20px; text-align:left;">
                  <div class="row">
                      <div class="col-xs-4"> 
                        <a href="https://www.affo-nature.org/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_affo.png') }}" 
				title="Association faune et flore de l'Orne"
                        ></a>
                      </div>
                      <div class="col-xs-4">  
                        <a href="https://www.orne.fr/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_d_orne.jpg') }}" 
				title="Conseil départemental de l'Orne"
                        ></a>
                      </div>
                      <div class="col-xs-4">                  
                        <a href="http://www.parc-naturel-perche.fr/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_perche.jpg') }}" 
				title="Parc naturel régional du Perche"
                        ></a>
                      </div>
                  </div>
                </div>

              <!-- Producteurs de données -->
                <!-- Titre -->		
                <div class="col-lg-12" style="background:#fff; border-radius: 0px; margin-top:10px; padding: 10px; text-align:center;">
                  <div class="row">
                      <div class="col-xs-12">
                        <div title="Personnes physiques ou morales saisissant des données commandées par le {{configuration.STRUCTURE}} et/ou partagées avec lui"><h3 class="title-spaced title-bar">Partenaires producteurs de données<sup>&#9432;</sup></h3></div>                 
                      </div>
                  </div>
                </div>                
                <!-- Logos -->	
                <div class="col-lg-12" style="background:#fff; border-radius: 0px; padding: 20px; text-align:left;">
                  <div class="row">
                      <div class="col-xs-4"> 
                        <a href="https://www.affo-nature.org/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_affo.png') }}" 
				title="Association faune et flore de l'Orne"
                        ></a>
                      </div>
                      <div class="col-xs-4">  
                        <a href="http://www.cbnbrest.fr/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_cbnb.jpg') }}" 
				title="Conservatoire botanique national de Brest"
                        ></a>
                      </div>
                      <div class="col-xs-4" style="padding-top: 20px;vertical-align:middle">  
			  <p align="center" vertical-align="middle" class="text-muted">Consultants & bureaux d'études :</br>Lagrandie Julien, Lutrand Christophe, Mazurier Marc, Stalleger Peter</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-4">  
                        <a href="https://www.orne.fr/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_d_orne.jpg') }}" 
				title="Conseil départemental de l'Orne"
                        ></a>
                      </div>
                      <div class="col-xs-4">  
                        <a href="https://www.gmn.asso.fr/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_gmn.png') }}" 
				title="Groupe mammalogique normand"
                        ></a>
                      </div>
                      <div class="col-xs-4">                  
                        <a href="http://www.gonm.org/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_gonm.png') }}" 
				title="Groupe ornithologique normand"
                        ></a>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-4">  
                        <a href="http://www.gretia.org/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_gretia.png') }}" 
				title="Groupe d'étude des invertébrés armoricains"
                        ></a>
                      </div>
                      <div class="col-xs-4">  
                        <a href="https://www.mayennenatureenvironnement.fr/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_mne.png') }}" 
				title="Mayenne nature environnement"
                        ></a>
                      </div>
                      <div class="col-xs-4">                  
                        <a href="http://www.parc-naturel-perche.fr/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_perche.jpg') }}" 
				title="Parc naturel régional du Perche"
                        ></a>
                      </div>
                  </div>
                </div>
 
                <!-- partenaires diffusion -->
                <!-- Titre -->		
                <div class="col-lg-12" style="background:#fff; border-radius: 0px; margin-top:10px; padding: 10px; text-align:center;">
                  <div class="row">
                      <div class="col-xs-12">
                        <div title="Réseau d'acteurs au sein duquel le {{configuration.STRUCTURE}} met en partage l'information naturaliste qu'il détient selon un ensemble de méthodes et de règles communes"><h3 class="title-spaced title-bar">Partenaires diffusion des données<sup>&#9432;</sup></h3></div>                  
                      </div>
                  </div>
                </div>                
                <!-- Logos -->	
                <div class="col-lg-12" style="background:#fff; border-radius: 0px; padding: 20px; text-align:left;">
                  <div class="row">
                      <div class="col-xs-6"> 
                        <a href="https://biodiv-paysdelaloire.fr/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_biodivpdl.jpg') }}" 
				title="Biodiv'Pays de la Loire"
                        ></a>
                      </div>
                      <div class="col-xs-6">  
                        <a href="http://www.cbnbrest.fr/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_cbnb.jpg') }}" 
				title="Conservatoire botanique national de Brest"
                        ></a>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-6">                  
                        <a href="https://odin.normandie.fr/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_odin.png') }}" 
				title="Outils de diffusion de l'information naturaliste"
                        ></a>
                      </div>
                      <div class="col-xs-6">                  
                        <a href="https://sinp.naturefrance.fr/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_sinp.png') }}" 
				title="Système d'information de l'inventaire du patrimoine naturel"
                        ></a>
                      </div>
                  </div>
                </div>

              <!-- Financeur -->
                <!-- Titre -->		
                <div class="col-lg-12" style="background:#fff; border-radius: 0px; margin-top:10px; padding: 10px; text-align:center;">
                  <div class="row">
                      <div class="col-xs-12">
                        <div title="Acteurs s'étant engagés dans le financement des actions du {{configuration.STRUCTURE}} pour la collecte et la diffusion des données naturalistes"><h3 class="title-spaced title-bar">Partenaires financiers<sup>&#9432;</sup></h3></div>                 
                      </div>
                  </div>
                </div>                
                <!-- Logos -->	
                <div class="col-lg-12" style="background:#fff; border-radius: 0px; padding: 20px; text-align:left;">
                  <div class="row">
                      <div class="col-xs-4"> 
                        <a href="https://www.lamayenne.fr/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_d_mayenne.jpg') }}" 
				title="Conseil départemental de la Mayenne"
                        ></a>
                      </div>
                      <div class="col-xs-4">  
                        <a href="https://www.normandie.fr/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_r_normandie.png') }}" 
				title="Conseil régional de Normandie"
                        ></a>                      </div>
                      <div class="col-xs-4">  
                        <a href="https://www.paysdelaloire.fr/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_r_pdl.jpg') }}" 
				title="Conseil régional des Pays de la Loire"
                        ></a>
                  </div>
                  <div class="row">
                      <div class="col-xs-4"> 
                        <a href="http://www.normandie.developpement-durable.gouv.fr/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_dreal_normandie.png') }}" 
				title="DREAL Normandie"
                        ></a>
                      </div>
                      <div class="col-xs-4">  
                        <a href="http://www.pays-de-la-loire.developpement-durable.gouv.fr/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_dreal_pdl.jpg') }}" 
				title="DREAL Pays de la Loire"
                        ></a>
                      </div>
                      <div class="col-xs-4">  
                        <a href="https://www.gouvernement.fr/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_etat.jpg') }}" 
				title="État français"
                        ></a>
                  </div>
                  <div class="row">
                      <div class="col-xs-6">  
                        <a href="https://ofb.gouv.fr/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_ofb.png') }}" 
				title="Office français de la biodiversité"
                        ></a>
                      </div>
                      <div class="col-xs-6">                  
                        <a href="https://europa.eu/" target="_blank">                 
                        <img class="logo-partenaire" 
				src="{{url_for('static', filename='custom/images/partenaires/logo_europe.jpg') }}" 
				title="Union européenne"
                        ></a>
                      </div>
                  </div>
                </div>

             </div>
           </div>
          </div>		
          <!-- FIN PAGE -->
		
		{% if configuration.AFFICHAGE_FOOTER %}
			{% include 'static/custom/templates/footer.html' %}
		{% endif %}
        
        <script type="text/javascript">
            var configuration = {{configuration|tojson}};
        </script>

        <script src="{{url_for('static', filename='main.js') }}"></script>

   </body> 
</html>