/* Insert your custom override CSS in this file */
 
:root {
  --main-color: #008461; /* vert logo parc */
  --second-color: #BB2D33; /* rouge logo parc avant : #5c5e63; | NB. pas utilisée */
}

/*** slider slick page acceuil****/
/* à supprimer ?
.slidepartenaireindex{
  width: 280px;
}
*/

/* à supprimer ? */
/* @import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'; */

/* à supprimer ? */
/* Police Bree Bold */
/*
@font-face {
    font-family: 'breebold';
    src: url('fonts/breebold-webfont.woff2') format('woff2'),
         url('fonts/breebold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/

/* déf. des polices */
body {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.titreAppli {
  font-size: 32px;
  line-height: 30px;
  padding-right: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

h1,h2 {
  font-family: 'Amaranth', sans-serif
}

/* modif Barre du dessus :*/
.navbar {
  /*background-color: var(--second-color)!important;*/
  height: 80px;
  padding: 10px;
}
/* modif Side Bar */
#sideBar {
  margin-top: 30px;
  background-color: #323535;
}
/* modif Marge de la page */
#page {
margin-top: 45px;
}

/* ajout classe pour logos partenaires*/
.logo-partenaire{
  height:125px;
  padding: 20px 20px 20px 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* modif des classes lignes horizontale / verticale */
.border {
    border-right: 2px solid var(--main-color);
}
.title-bar::before {
    border-top: 2px solid var(--main-color);
}
.title-bar::after {
    border-top: 2px solid var(--main-color);
}

/* custom hr */
hr.custom {
  border-top: 2px solid var(--main-color);
  align:center;
  width:50%;
}

/* FAQ */
summary {
  font-size: 2rem;
  font-weight: 600;
  background-color: #fff;
  color: #333;
  outline: none;
  text-align: left;
  cursor: pointer;
  position: relative;
}
summary:hover{
  background-color: grey;
}
details > summary::after {
  position: absolute;
  content: "+";
  right: 20px;
  color : var(--main-color) 
}
details[open] > summary::after {
  position: absolute;
  content: "-";
  right: 20px;
  color : var(--main-color) 
}
details > summary::-webkit-details-marker {
  display: none;
}

/* modif footer */
/* enlever margin sur pages presentation, données, partenaires, fiches espèces, fiche commune ; cf. page accueil comme référence */
.footer {
    text-align: center;
    margin-left: 60px;
    margin: 0px 0;
}